1er_trimestre/ad-t2-boletin/res/catalogo.dtd

<!-- Reglas de sintaxis -->
<!ELEMENT catalogo (juegomesa|videojuego)*>
<!ELEMENT juegomesa (titulo,stock)>
<!ELEMENT videojuego (titulo,plataforma,imagenes,stock)>
<!ELEMENT imagenes (caratula,captura*)>

<!-- Tipos de datos -->
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT caratula (#PCDATA)>
<!ELEMENT captura (#PCDATA)>
<!ELEMENT stock (#PCDATA)>